# fly.toml app configuration file generated for mvai-connexx-1udloq on 2026-01-03T12:04:54Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'mvai-connexx-1udloq'
primary_region = 'fra'

[build]

[http_service]
  internal_port = 5000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
